In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .appName("PySpark Test") \
    .getOrCreate()

In [5]:
spark

In [9]:
df = spark.read.format("csv").option("header", True).load("C:/Users/sauld/OneDrive/Área de Trabalho/CIENCIA_DADOS/train.csv")

In [15]:
from pyspark.sql import functions as F

In [11]:
df.show()

+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+-----------+
|age|       workclass|fnlwgt|   education|educational-num|    marital-status|       occupation| relationship|              race|gender|capital-gain|capital-loss|hours-per-week|native-country|income_>50K|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+-----------+
| 67|         Private|366425|   Doctorate|             16|          Divorced|  Exec-managerial|Not-in-family|             White|  Male|       99999|           0|            60| United-States|          1|
| 17|         Private|244602|        12th|              8|     Never-married|    Other-service|    Own-child|             White|  Male|           0|           0|            15| United-States|          0|
| 31|         Private|174201|   Bachelors|             13|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            40| United-States|          1|
| 58|       State-gov|110199|     7th-8th|              4|Married-civ-spouse| Transport-moving|      Husband|             White|  Male|           0|           0|            40| United-States|          0|
| 25|       State-gov|149248|Some-college|             10|     Never-married|    Other-service|Not-in-family|             Black|  Male|           0|           0|            40| United-States|          0|
| 59|       State-gov|105363|     HS-grad|              9|     Never-married|     Adm-clerical|    Own-child|             White|  Male|           0|           0|            40| United-States|          0|
| 70|         Private|216390|         9th|              5|Married-civ-spouse|Machine-op-inspct|         Wife|             White|Female|        2653|           0|            40| United-States|          0|
| 35|Self-emp-not-inc|361888|   Bachelors|             13|Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            60|         Japan|          0|
| 28|         Private| 74784|     HS-grad|              9|     Never-married|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            50| United-States|          0|
| 28|         Private|118089|     HS-grad|              9|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        4386|           0|            45| United-States|          1|
| 21|         Private|138513|Some-college|             10|     Never-married|  Exec-managerial|    Own-child|             White|  Male|           0|           0|            25| United-States|          0|
| 30|Self-emp-not-inc|100252|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|    Own-child|Asian-Pac-Islander|  Male|           0|           0|            60|         South|          0|
| 59|Self-emp-not-inc|241297|Some-college|             10|           Widowed|  Farming-fishing|Not-in-family|             White|Female|        6849|           0|            40| United-States|          0|
| 20|         Private| 39764|     HS-grad|              9|     Never-married|Handlers-cleaners|    Own-child|             White|  Male|           0|           0|            40| United-States|          0|
| 45|         Private| 30690|     7th-8th|              4|     Never-married|    Other-service|Not-in-family|             White|  Male|           0|           0|            10| United-States|          0|
| 76|         Private|316185|     7th-8th|              4|           Widowed|  Protective-serv|Not-in-family|             White|Female|           0|           0|            12| United-States|          0|
| 30|         Private|110239|        10th|              6|Married-civ-spouse| Transport-moving|      Husband|             White|  Male|           0|           0|            55| United-States|          0|
| 54|     Federal-gov|278076|     HS-grad|              9|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|          1|
| 19|       Local-gov|259169|Some-college|             10|     Never-married|   Prof-specialty|    Own-child|             White|Female|           0|           0|            30| United-States|          0|
| 44|         Private|136986|   Doctorate|             16|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|           0|           0|            50| United-States|          1|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+-----------+
only showing top 20 rows

In [16]:
#df.groupBy("educational-num").sum()
df_grouped = df.groupBy("race").agg(F.avg("educational-num").alias("Média_Nota"))

In [17]:
df_grouped.show()

+------------------+------------------+
|              race|        Média_Nota|
+------------------+------------------+
|             Other| 8.831099195710456|
|Amer-Indian-Eskimo| 9.437054631828978|
|             White|10.124560843181092|
|Asian-Pac-Islander|10.981063364894393|
|             Black| 9.503082029397818|
+------------------+------------------+